.widthFull {
  width: 100%;
  justify-content: space-between;
}

.text {
  font-size: 20px;
  font: bold;
}

.btnData {
  cursor: pointer;
  outline: 0;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.dataDiv {
  margin-top: 30px;
  padding: 50px;
  background-color: rgba(112, 128, 144, 0.651);
}

.navbarText {
  font-size: large;
  font-weight: bold;
  background-color: rgba(255, 246, 69, 0.971);
}

.headerStyle {
  background-color: #0d6efd;
  padding: 23px;
}

.btnStyle {
  cursor: pointer;
  outline: 0;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
